
--create prosedure
CREATE PROCEDURE GetAllAvailableProducts 
AS 
BEGIN
	SELECT product_name
	FROM produce_listings
	WHERE is_available = 1;
END;

EXEC GetAllAvailableProducts;

CREATE PROCEDURE [dbo].[GetProductsByCategoryID] @CategoryID INT
AS
BEGIN
	SELECT category_name
	FROM produce_listings, categories 
	WHERE categories.category_id = @CategoryID;
END;


EXEC GetProductsByCategoryID @CategoryID = 3;

CREATE PROCEDURE [dbo].[usp_AddFarmer]
@FullName NVARCHAR(255),
@Email NVARCHAR(255),
@PhoneNumber NVARCHAR(20),
@FarmName NVARCHAR(255),
@Location NVARCHAR(255),
@ProvinceID INT,
@Rating DECIMAL(3,2),
@Is_Verified BIT
AS 
BEGIN
	INSERT INTO farmers(full_name, email, phone_number,farm_name,location,province_id,rating, is_verified)
	VALUES (@FullName, @Email, @PhoneNumber, @FarmName, @Location, @ProvinceID, @Rating, @Is_Verified);
	
	SELECT SCOPE_IDENTITY() AS NewFarmerID;
END;

--create prosedure
CREATE PROCEDURE [dbo].[GetAllAvailableProducts] 
AS 
BEGIN
	SELECT product_name
	FROM produce_listings
	WHERE is_available = 1;
END;

--create prosedure
CREATE PROCEDURE GetAllAvailableProducts 
AS 
BEGIN
	SELECT product_name
	FROM produce_listings
	WHERE is_available = 1;
END;

EXEC GetAllAvailableProducts;

CREATE PROCEDURE GetProductsByCategoryID @CategoryID INT
AS
BEGIN
	SELECT category_name
	FROM produce_listings, categories 
	WHERE categories.category_id = @CategoryID;
END;


EXEC GetProductsByCategoryID @CategoryID = 2;

CREATE PROCEDURE [dbo].[GetAllProductsFromAFarmer] @FarmerID INT
AS
BEGIN
	SELECT farmers.farmer_id, product_name, price_per_kg, quantity_kg 
	FROM farmers, produce_listings
	WHERE farmers.farmer_id = @FarmerID
	ORDER BY price_per_kg ASC;
END;


EXEC GetAllProductsFromAFarmer @FarmerID = 502;